*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --navy: #021841;
    --blue: #0059ff;
    --orange: #F6961C;
    --yellow: #FEBE0E;
    --gradient: linear-gradient(var(--orange),var(--yellow));
    --blackGlass: rgb(0 0 0 / 60%);
}

html {
    overflow-x: hidden;
}
  
body {
    background: var(--navy);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'montserrat';
}

.interSectionCover {
    position: fixed;
    top: 250px;
    right: 0;
    bottom: 250px;
    left: 0;
    background: var(--blackGlass);
    backdrop-filter: blur(10px);
    color: #fff;
    font-size: 5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* Turn On Intersection Observer */
    /* display: flex; */
    /* Turn Off Intersection Observer */
    display: none;
}

.bar {
    background: var(--blackGlass);
    backdrop-filter: blur(10px);
    height: 3em;
    font-family: montserrat;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 5em;
}

.barcolumn {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .2em;
    min-width: 10em;
}

header {
    position: sticky;
    top: 0;
}

.mobileMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileMenuLinks{
    display: none;
}

.mobileMenuLinks a {
    width: 100%;
    background: rgb(255 255 255 / 80%);
    backdrop-filter: blur(10px);
    border-top: 1px solid var(--navy);
    color: #000;
    text-decoration: none;
    font-weight: 400;
    padding: .5em 3.35em;
    display: flex;
    justify-content: space-between;
    transition: 0.15s cubic-bezier(0.77,0.2,0.05,1.0);
}

.mobileMenuLinks a:hover {
    background: #fff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em 0;
}

svg:not(:root) {
    overflow: visible;
}

.vectorGraphic text {
    font-size: 150px;
    stroke: #0ed1c1;
    fill: transparent;
    font-weight: 700;
    stroke-width: 5px;
    animation: textAnimate2 5s ease-in-out infinite alternate;
  }

  .vectorGraphicOnce text {
    stroke: #fff;
    fill: #fff;
    font-weight: 700;
    stroke-width: 0px;
    transform-origin: left;
    animation: none;
  }

.pictureWaves {
    display: none;
    background: url(./images/LadyYellow.jpg);
    overflow: hidden;
    background-size: 55%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    overflow: visible;
    z-index: -1;
}

.pictureWaves::after {
    content: '';
    background: url(./images/TextWrapped.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    animation: rotate 55s linear infinite reverse;
}

.blackWaves path {
    stroke: var(--navy);
    fill: var(--navy);
    animation: rotate 5s linear infinite, strokeAnimation 3s ease-in-out infinite alternate;
    transform-origin: center;
}
.sumitLogo {
    width: 100%;
}

.sumitLogo path {
  fill: default;
  stroke: white;
  stroke-width: 5px;
  animation: textAnimate 5s ease-in-out infinite alternate;
}

#paint0_linear,#paint1_linear  {
    transition: 150ms ease-in-out;
}

#paint3_linear {
    animation: fadeIn 5s ease-in-out infinite alternate;
    transition: 150ms ease-in-out;
}

.i,.dot {
    fill: url(#paint3_linear);
    /* position: relative;
    transition: 300ms ease-in-out;
    animation: fadeIn 5s ease-in-out infinite alternate !important; */
}

@keyframes textAnimate {
    0% {
      fill: transparent;
      stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
    }
    35% {
      stroke: white;
      stroke-dasharray: 50% 0; 
    }
    75% {
      stroke-dasharray: 0 50%;
    }
    100% {
      fill: default;
      stroke-dasharray: 0 50%;
          stroke-dashoffset: -20%;
    }
}

@keyframes textAnimate2 {
    0% {
      fill: transparent;
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 30%;
    }
    35% {
      fill: transparent;
      stroke: #0ed1c1;
      stroke-dasharray: 50% 0; 
      stroke-dashoffset: 40%;
    }
    75% {
      fill: #0ed1c1;
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 50%;
    }
    100% {
      fill: #0ed1c1;
      stroke-dasharray: 0 50%;
      stroke-dashoffset: -20%;
    }
}

@keyframes textAnimate3 {
    0% {
      fill: transparent;
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 30%;
      stroke-width: 0;
    }
    35% {
      fill: transparent;
      stroke: #fff;
      stroke-dasharray: 50% 0; 
      stroke-dashoffset: -30%;
      stroke-width: 1;
    }
    75% {
      fill: #fff;
      stroke-dasharray: 0 50%;
      stroke-dashoffset: -10%;
      stroke-width: 3;
    }
    100% {
      fill: #fff;
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 0%;
      stroke-width: 5;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes strokeAnimation {
    0% {
        stroke-width: 65px;
    }
    100% {
        stroke-width: 100px;
    }
}

.observe {
    transition: 1000ms ease-in-out;
}

.observe.notInView {
    opacity: 0;
}

.notInView text {
    transition: 1000ms ease-in-out;
    opacity: 0;
    /* animation: textAnimate3 3s ease-in-out reverse; */
}

.animationEnded text {
    display: none;
}

.notInView {
    transform: translateX(-300px);
    opacity: 0 !important;
    /* animation: slideLeft 3s ease-in-out reverse; */
}

.notInView:nth-child(even) {
    transform: translateX(300px);
    opacity: 0 !important;
    /* animation: slideRight 3s ease-in-out reverse; */
}

.inView {
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
    animation: slideLeft 3s ease-in-out;
}

.inView:nth-child(even) {
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
    animation: slideRight 3s ease-in-out;
}

.inView text {
    animation: textAnimate3 5s ease-in-out;
}

@keyframes slideRight {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut 3s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.mobileMenuLinks {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 3em;
    left: 0;
}

.show text {
    animation: fadeIn 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

.hide text {
    animation: none;
}

#openMenuToggler {
    transform: scale(.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#menuToggle {
    display: flex;
    margin: 0px;
    transition: 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
    justify-content: space-between;
    grid-gap: .3em;
    align-items: center;
}
  
#menuToggle:hover {
    cursor: pointer;
    display: flex;
    transition: 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}
  
#menuToggle:hover span {
    transition: 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
    background: #fff;
}
  
.openMenuToggler span {
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    position: relative;
    top: .08em;
    background: #fff;
    border-radius: 0px;
    transform-origin: 4px 0px;
    transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

 .openMenuToggler.clicked span {
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    top: -2px;
    border-radius: 0px;
    transform-origin: 4px 0px;
    transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menuToggle span:first-child:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2):nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle span:last-child {
    margin-bottom: 0px;
}
  
  #openMenuToggler.clicked span {
    opacity: 1;
    transform: rotate(-45deg) translate(0px, 0px)   ;
  }
  
  #openMenuToggler.clicked span:nth-last-child(2) {
    transform: rotate(45deg) translate(-3px,    -4px);
  }
  
  #openMenuToggler.clicked span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }


@media screen and (max-width: 768px) {
    .left.barcolumn {
        display: none;
    }
    .bar {
        padding: 0 0em;
    }
    .barcolumn {
        width: 100%;
    }
}
  